{% include 'fixed/head.html' %}

<style>
  .tabs-header {
    padding-bottom: 0em;
  }
</style>

<body>
  {% include 'fixed/nav.html' %}

  <div class="section md-padding bg-grey">
    <div class="container">
      <div class="card-box">
        {% if report_dict %}
          {% if for_who %}
            {% include 'modules/report/valid_report_for_who.html' %}
          {% else %}
            {% include 'modules/report/valid_report.html' %}
          {% endif %}
        {% else %}
          {% include 'modules/report/invalid_report.html' %}
        {% endif %}
      </div>
    </div>
  </div>
  {% include 'fixed/footer.html' %}
</body>

</html>
{% include 'fixed/foot.html' %}

<script>


function updateNav(){
  var elem = $('#nav-report-cta')
  //does url parameter for_who exist?
  if ('{{for_who}}' != 'None') {
    console.log('{{for_who}}')
    elem.attr("href", `/`)
    elem.text('Integrate Today')
  }
  else {
    //report exists in session, change URL to report ID
    var report_id = reportJSON.report_id
    elem.attr("href", `/report/${report_id}`)
    elem.text('My Report')
    setCookie('report_id', report_id, 2)
  }
}

  updateNav();
</script>
