{% include 'fixed/head.html' %}

<!-- DataTables -->
 <link href="../static/vendor/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
 <link href="../static/vendor/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css"/>
 <link href="../static/vendor/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css"/>
 <link href="../static/vendor/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css"/>
 <link href="../static/vendor/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css"/>
 <link href="../static/vendor/datatables/dataTables.colVis.css" rel="stylesheet" type="text/css"/>
 <link href="../static/vendor/datatables/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css"/>

<style>
  .tabs-header {
    padding-bottom: 0em;
  }
</style>

<body>
  {% include 'fixed/nav.html' %}

  <div class="section md-padding bg-grey">
    <div class="container">
      <div class="card-box">
        {% if report_exists %}
          {% include 'modules/report/valid_report.html' %}
        {% else %}
          {% include 'modules/report/invalid_report.html' %}
        {% endif %}
      </div>
    </div>
  </div>
  {% include 'fixed/footer.html' %}
</body>

</html>
{% include 'fixed/foot.html' %}

<script src="../static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../static/vendor/datatables/dataTables.bootstrap.js"></script>
<script src="../static/vendor/datatables/pdfmake.min.js"></script>


<!-- <script src="../static/vendor/datatables/dataTables.buttons.min.js"></script>
<script src="../static/vendor/datatables/buttons.bootstrap.min.js"></script>
<script src="../static/vendor/datatables/jszip.min.js"></script>
<script src="../static/vendor/datatables/vfs_fonts.js"></script>
<script src="../static/vendor/datatables/buttons.html5.min.js"></script>
<script src="../static/vendor/datatables/buttons.print.min.js"></script>
<script src="../static/vendor/datatables/dataTables.fixedHeader.min.js"></script>
<script src="../static/vendor/datatables/dataTables.keyTable.min.js"></script>
<script src="../static/vendor/datatables/dataTables.responsive.min.js"></script>
<script src="../static/vendor/datatables/responsive.bootstrap.min.js"></script>
<script src="../static/vendor/datatables/dataTables.scroller.min.js"></script>
<script src="../static/vendor/datatables/dataTables.colVis.js"></script>
<script src="../static/vendor/datatables/dataTables.fixedColumns.min.js"></script> -->

<script>
  var REPORT_IS_VALID = '{{report_exists}}';
  var REPORT_ID = '{{report_id}}';
</script>
<script type="text/javascript" src="../static/js/report.js"></script>
