<div id="" class="section md-padding bg-grey">
  <div class="container">
    <div class="card-box">
      <div class="upload-tabs tabs-header">
        <h4 class="header-title m-t-0 m-b-30" style="margin-bottom: 1.3em;">Generate a free report from your raw genome</h4>
        <p>Your data is anonymous and <a class="bolded" href="https://meports.com/privacy">never stored</a> on our servers unless you permit it. This report will not be used for any purpose other than your own information.</p>
      </div>
      <ul class="nav nav-tabs upload-tabs tabs-bordered">
        <li class="active">
          <a href="ui-tabs.html#tab-23andme" data-toggle="tab" aria-expanded="true">
            <!-- <span class="visible-xs"><i class="fa fa-home"></i></span> -->
            <span class="visible-xs">23</span>
            <span class="hidden-xs"><img class="genetic-icon-image" src="../static/img/external/23andme.png" /></span>
          </a>
        </li>
        <li class="">
          <a href="ui-tabs.html#tab-ancestry" data-toggle="tab" aria-expanded="false">
            <span class="visible-xs">Anc</span>
            <span class="hidden-xs"><img class="genetic-icon-image" src="../static/img/external/ancestry.png" /></span>
          </a>
        </li>
        <li class="">
          <a href="ui-tabs.html#tab-ftdna" data-toggle="tab" aria-expanded="false">
            <span class="visible-xs">FT</span>
            <span class="hidden-xs"><img class="genetic-icon-image" src="../static/img/external/ftdna.png" /></span>
          </a>
        </li>
        <li class="">
          <a href="ui-tabs.html#tab-helix" data-toggle="tab" aria-expanded="false">
            <span class="visible-xs">Hel</span>
            <span class="hidden-xs"><img class="genetic-icon-image" src="../static/img/external/helix.png" /></span>
          </a>
        </li>
        <li class="">
          <a href="ui-tabs.html#tab-other" data-toggle="tab" aria-expanded="false">
            <span class="visible-xs">Oth</span>
            <span class="hidden-xs tab-text">Other</span>
          </a>
        </li>
      </ul>
      <div class="upload-tabs tab-content">
        <div class="upload-tabs tab-pane active" id="tab-23andme">
          <h4 class="m-t-0 header-title"><b>23AndMe</b></h4>
          <div class="upload-holder">
            <form id="upload-report-form" method="post" enctype="multipart/form-data">
              <label class="btn btn-custom">
                <span class="fa fa-upload"></span> Upload Genome
                <input type="file" style="display: none;" name="file">
              </label>
            </form>
            <p style="margin-top:1em;">
              See a sample report <a class="bolded" href="/report/2347380d-ac31-4f4a-b973-6e18ff4c05a3">here</a>
              <br />
              Don't have a 23AndMe genome file? Download yours <a class="bolded" href="https://customercare.23andme.com/hc/en-us/articles/212196868-Accessing-and-Downloading-Your-Raw-Data">here</a>
            </p>
          </div>
          <div class="progress-holder hidden"></div>
          <div class="results-holder hidden"></div>
        </div>
        <div class="upload-tabs tab-pane" id="tab-ancestry">
          <h4 class="m-t-0 header-title"><b>Ancestry</b></h4>
          <p>
            We're still working on Ancestry integration.
          </p>
        </div>
        <div class="upload-tabs tab-pane" id="tab-ftdna">
          <h4 class="m-t-0 header-title"><b>FamilyTree DNA</b></h4>
          <p>
            We're still working on a FamilyTree DNA integration.
          </p>
        </div>
        <div class="upload-tabs tab-pane" id="tab-helix">
          <h4 class="m-t-0 header-title"><b>Helix</b></h4>
          <p>
            We're still working on a Helix integration..
          </p>
        </div>
        <div class="upload-tabs tab-pane" id="tab-other">
          <h4 class="m-t-0 header-title"><b>Other</b></h4>
          <p>
            What else?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="" class="section md-padding info-service">
  <div class="container">
    <div class="row" style="text-align:center">
      <div class="section-header text-center">
        <h3 class="title">How does it work?</h3>
      </div>
      <div class="col-md-4 col-sm-4">
        <h4 class="change-sub">File Transmission</h4>
        <img src="../static/img/mockups/browser.svg">
          <p>Upload your raw genome, which will be securely transmitted and temporarily stored on our server for processing. It will be deleted as soon as processing finishes</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <h4 class="change-sub">Gene Comparison</h4>
        <img src="../static/img/mockups/search.svg">
          <p>We compare your genome to a master list of genes that reputable researchers have designated as important to monitor. As research changes, so does this master list.
            <a class="white-btn cta-button" href="#" id="genes-we-look-for-button">Genes We Look For</a>
          </p>
      </div>
      <div class="col-md-4 col-sm-4">
        <h4 class="change-sub">Gene Sorting</h4>
        <img src="../static/img/mockups/analytics.svg">
          <p>The positive matches with this master list are sorted based on magnitude, which is a measurement of how confident resarchers are that this gene is linked to a trait (mind, body, health). </p>
      </div>

    </div>
  </div>
</div>

  </div>
</div>

{% include 'modules/modals.html' %}
