<div id="for-who-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Send this Report to your Preferred Provider</h4>
      </div>
      <p class="text-muted m-b-30 font-13" style="padding-top: .4em; color: #a8a8a8;">We don't save anything, this is purely so your provider has a reference.</p>
      <div class="modal-body">
        <div class="row">
          <h4 class="m-t-50 header-title" style="padding-left:1em;"><b>You</b></h4>
          <div class="col-md-6">
            <div class="form-group">
              <!-- <label for="field-2" class="control-label">Name</label> -->
              <input type="text" class="form-control" id="field-1" placeholder="Your Name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <!-- <label for="field-2" class="control-label">Name</label> -->
              <input type="text" class="form-control" id="field-1" placeholder="Your Email">
            </div>
          </div>
        </div>
        <div class="row">
          <h4 class="m-t-50 header-title" style="padding-left:1em;"><b>Your Provider</b></h4>
          <!-- <p class="text-muted m-b-30 font-13">.</p>           -->
          <div class="col-md-6">
            <div class="form-group">
              <!-- <label for="field-2" class="control-label">Name</label> -->
              <input type="text" class="form-control" id="field-2" placeholder="Your Providers' Name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <!-- <label for="field-2" class="control-label">Name</label> -->
              <input type="text" class="form-control" id="field-2" placeholder="Your Providers' Email">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info waves-effect waves-light">Send</button>
      </div>
    </div>
  </div>
</div><!-- /.modal -->
