<div id="for-who-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="for-who-form">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Send this Report to your Preferred Provider</h4>
        </div>
        <p class="text-muted m-b-30 font-13" style="padding-top: .4em; color: #a8a8a8;">We don't store your genome, this is so your provider has a reference.</p>
        <div class="modal-body">
          <div class="row">
            <h4 class="m-t-50 header-title" style="padding-left:1em;"><b>You</b></h4>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Your Name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="Your Email">
              </div>
            </div>
          </div>
          <div class="row">
            <h4 class="m-t-50 header-title" style="padding-left:1em;"><b>Your Provider</b></h4>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" name="provider_name" placeholder="Your Providers' Name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" name="provider_email" placeholder="Your Providers' Email">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
          <button type="submit" id="submit-for-who-form" class="btn btn-success waves-effect waves-light">Send</button>
        </div>
      </form>
    </div>
  </div>
</div><!-- /.modal -->
