<!-- Footer -->
<footer id="footer" class="bg-darker">
  <section id="connect">
    <div class="container">
      <div class="row">
        <div class="social-media col-md-6">
          <h3 class="hed">Find us on</h3>
          <ul class="list-inline">
            <li>
              <a class="medium" href="https://medium.com/@esteininger">
                <img src="../static/img/medium-logo.png" />
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-6">
          <h3 class="hed">Newsletter</h3>
          <form action="https://Meports.us17.list-manage.com/subscribe/post?u=327d41e6be1ca663da2d30401&amp;id=b1c4f500a8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate="">
            <div class="form-group mb-2">
              <input type="email" name="EMAIL" placeholder="Email" class="form-control-plaintext" id="mce-EMAIL" required="">
            </div>
            <button type="submit" class="submit-button newsletter-button">Update Me</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="footer-nav">
    <div class="container">
      <nav class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <h5 class="hed">Trust</h5>
          <ul class="list-unstyled">
            <li><a href="http://meports.com/privacy">Privacy Policy</a></li>
            <li><a href="http://meports.com/terms">Terms of Service</a></li>
          </ul>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4">
          <h5 class="hed">Company</h5>
          <ul class="list-unstyled contact-ul">
            <li><a href="http://meports.com/gene">Genetic Reporting</a></li>
            <li><a href="http://meports.com/perform">Personal Performance</a></li>
            <li><a href="mailto:ethan@meports.com?subject=Meports information request">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <h5 class="hed">Vision</h5>
          <ul class="list-unstyled contact-ul">
            <p>
              We believe the key to maximizing happiness and health is to measure what works and what doesn’t. Only through measuring, can we identify the biggest contributors towards life and health quality.
            </p>
          </ul>
        </div>
      </nav>
      <div class="row" style="padding-top: 2em;">
        <ul class="list-inline legal">
          <li class="copyright">© 2018 Meports</li>
        </ul>
        <!-- <p class="made-in">Built with <i class="fa fa-heart" style="color:#32c7ca"></i> in Washington, DC</p> -->
      </div>

    </div>
  </section>
  <!-- /Container -->

</footer>
<!-- /Footer -->
