<!-- Core -->
<script type="text/javascript" src="../static/js/external/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/external/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="../static/js/external/toastr.js" type="text/javascript"></script>
<script type="text/javascript" src="../static/js/external/moment.js"></script>

<!-- Datatable -->
<script src="../static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../static/vendor/datatables/dataTables.bootstrap.js"></script>

<script src="../static/vendor/datatables/dataTables.buttons.min.js"></script>
<script src="../static/vendor/datatables/buttons.bootstrap.min.js"></script>
<script src="../static/vendor/datatables/pdfmake.min.js"></script>
<script src="../static/vendor/datatables/vfs_fonts.js"></script>
<script src="../static/vendor/datatables/buttons.html5.min.js"></script>


<!-- Home -->
<script type="text/javascript" src="../static/js/helper.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
