<!-- Core -->
<script type="text/javascript" src="../static/js/external/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/external/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="../static/js/external/toastr.js" type="text/javascript"></script>
<script type="text/javascript" src="../static/js/external/moment.js"></script>

<!-- Home -->
<script type="text/javascript" src="../static/js/helper.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
