<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Meports | Genetic Reporting</title>
	<meta content="Meports Genetic Reporting" name="title">
	<meta content="self improvement, genetics, genetic analysis, genetic reporting, data driven, life dashboard, personal growth, personal analysis, biohacking, quantified self" name="keywords">
	<meta property="og:site_name" content="Meports" />
	<meta property="og:title" content="Meports Genetic Reporting">
	<meta property="og:image" content="../static/img/logo.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:url" content="https://gene.meports.com">
	<link rel="shortcut icon" href="../static/img/favicon.ico">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" />

	<!-- Plugins -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/toastr.css">

	<!-- DataTables -->
	 <link href="../static/vendor/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
	 <link href="../static/vendor/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css"/>
	 <link href="../static/vendor/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css"/>
	 <link href="../static/vendor/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css"/>
	 <link href="../static/vendor/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css"/>
	 <link href="../static/vendor/datatables/dataTables.colVis.css" rel="stylesheet" type="text/css"/>
	 <link href="../static/vendor/datatables/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css"/>

	<!-- Custom -->
	<link type="text/css" rel="stylesheet" href="../static/css/menu.css" />
	<link type="text/css" rel="stylesheet" href="../static/css/components.css" />
	<link type="text/css" rel="stylesheet" href="../static/css/style.css" />
	<link type="text/css" rel="stylesheet" href="../static/css/custom.css" />
</head>
