<nav id="nav" class="navbar nav-transparent">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">
        <a href="https://meports.com">
          <img class="logo" src="../static/img/logo.png" alt="logo">
          <img class="logo-alt" src="../static/img/logo-alt.png" alt="logo">
        </a>
      </div>
      <div class="nav-collapse"> <span></span> </div>
    </div>
    <ul class="main-nav nav navbar-nav navbar-right">
      <li><a id="nav-report-cta" class="white-btn cta-button" href="/">Create Report</a></li>
    </ul>
  </div>
</nav>
